@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif !important;
    background-image: url(img/bg.png);
    height: 100%;
}

.offset:before{
    display:block;
    content:"";
    height: 1rem;
    margin-top: -1rem;
}

/*-- Navigation --*/

.navbar{
    font-weight: 500;
    font-size: 1.1rem;
    background: rgba(0,0,0,0.6) !important;
}

#navbarResponsive{
    margin-right: 2rem;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color:white;
    
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color:#A7BB39;
}

.navbar .navbar-collapse .navbar-nav .nav-item .btn{
    font-weight: 500;
    font-size: 1rem;
    background-color: #A7BB39;
    border-color: #A7BB39;
    color: white;
    margin: 0px 0px 0px 10px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .btn:hover{
    font-weight: 500;
    font-size: 1rem;
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

.navbar-brand img{
    width: 8rem;
    margin: -2rem 0rem;
    padding: 0.8rem 0rem;
}

.navbar-image{
    margin-left: 7rem;
}

/*-- Landing Page --*/

.home-inner{
    background-image: url(img/headerHome.jpg);
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
}

.caption h1{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  
  .caption h3{
    font-size: 1.5rem;
    padding-bottom: 1.6rem;
  }
  
  .btn-secondary{
    border-width: medium;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.4rem 1.1rem;
    margin: 1rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
  }
  
  .btn-secondary:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
  }

/*-- Features Section --*/
#features{
    background-color: #073247;
    margin-top: 1rem;
}

.narrow{
    margin: auto;
    padding-bottom: 2rem;
  }

.feature h3{
    font-weight: 400 !important;
    letter-spacing: 0;
    color:white !important;
    font-size: 1.9rem !important;
}

.feature p{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color:white;
}

/*-- Solutions Section --*/

.justify-content-center{
    width: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.solutions{
    text-align: center;
    color: #073247;
    padding: 10px;
    width: 100%;
}

.solutions h1{
    font-weight: bold;  
    padding: 20px;
} 

.solution div:hover{
    background-color: #91b545;
    border-color: #91b545;
    color: #fff;
}

.solution div:hover img {
    position: relative;
    top: 10px;
}

.solution div:hover .btn {
    background-color: #fff;
    border-color: #fff;
    color:  #91b545;
}

.solution div {
    font-size: 13pt;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #fff; 
    height: 100%;
}

.solution h1{
    font-size: 18pt;
    font-weight: bold;
}

.solution img{
    max-width: 230px;
}

h3.heading{
    font-size: 2.7rem;
    letter-spacing: 0;
    font-weight: 900;
    color: #073145;
    padding: 2rem 0rem;
  }


/*-- Partners Section --*/

.jumbotron{
    height: 100%;
    background: linear-gradient(180deg, white 50%, #073247 50%);
}

.partner img{
    width: 20%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote .svg-inline--fa{
    color: #A7BB39;
    margin: 1rem;
}

blockquote{
    font-size: 1.2rem;
    font-weight: 500;
    color:#073145;
}

.partner div {
    font-size: 1.5rem;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #fff; 
    height: 100%;
}

.partner h1{
    font-size: 18pt;
    font-weight: bold;
}

.partner img{
    max-width: 330px;
}

/*-- Footer Section --*/

#footer{
    background-color: #042332;
    margin-top: -3rem;
}

footer img{
    width: 10rem;
}

footer p strong{
    color:white;
    font-size: 1rem;
}

table{
    color: white;
}

#partners{
    margin-top: -7rem;
}

footer .footer-p{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

footer a{
    color: white;
    font-size: 1.1rem;
}

footer a:hover{
    color: #A7BB39;
} 

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem 0.5rem 0 0;
  }
  
  footer svg.svg-inline--fa:hover{
    color: #A7BB39 !important;
  }

  footer table th{
    font-size: 0.9rem;
}
  
/*-- Quem Somos Section */

.quemsomos .btn{
    border-radius: 25px;
    color: #042332;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 50px;
	margin: 30px;
	border: 2px solid #DBDBDB;
}

.quemsomos .active {
	background-color: #fff;
	border-color: #042332 !important;
}

.quemsomos .sobre{
    text-align: justify;
	font-size: 1.3em;
	margin: 20px;
    line-height: 2em;
}

.quemsomos .equipe img{
	border-radius: 50%;
	width: 220px;
	margin: 40px;
}

.quemsomos .equipe{
	text-align: justify;
	font-size: 1.1em;
	margin: 20px;
    line-height: 2em;
    font-weight: 400;
    padding-bottom: 3rem;
    color: #073268;
    letter-spacing: 0;
}

.quemsomos .equipe div{
	padding: 0px 20px;
}

.sobre .btn-secondary{
    border-width: medium;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 4rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
    margin: auto;
    margin-top: 3rem;
}

.sobre .btn-secondary:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

.equipe .btn-secondary{
    border-width: medium;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 4rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
    margin: auto;
    margin-top: 3rem;
}

.equipe .btn-secondary:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

/* Orçamento Section --*/
#orcamento{
    padding-top: 4rem;
    margin-bottom: 4rem;
}

#orcamento .container form .row div{
    margin: 0 auto !important;
    width: 100% !important;
}

.btn-orcamento{
    width: 100%;
    border-width: medium;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0.7rem 0rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
}

.btn-orcamento:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

.form-control{
    background-color:#F0F1F2;
    border: none;
}

::placeholder{
    color: #0766AE;
    font-weight: 400;
    letter-spacing: 1px;
}

.row{
    color: #747D84;
    font-weight: 400;
    letter-spacing: 1px;
}

.email h5{
    color:#073247;
    font-weight: 500;
}

.email a{
    color:#073247;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.email .container a:hover{
    color: #A7BB39;
}

.orcamento-hr{
    border-top: 0.1rem solid #073247;
}

/*-- O que fazemos Section --*/
.descricao{
    padding-bottom: 3rem;
}

#solutions{    
    height: 100%;
    background-image: url('img/bg.png')
}

#oquefazemos h2{
    color: #0B3347;
    font-weight: 600;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
}

#oquefazemos p{
    color: #0B3347;
    letter-spacing: 1px;
    font-weight: 600;
}

/*-- Nossos Projetos Section --*/
.carousel-icon .svg-inline--fa{
    color: black;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#carousel-1{
   width:800px; /* or whatever width you want. */
   max-width:800px; /* or whatever width you want. */
   display: inline-block;
   height: 600px;
   max-height: 600px;
   border-radius: 15px;
   margin-bottom: 5rem;
   background-color: #F0F1F2;
}

.carousel-indicators li{
    background-color: #A7BB39;
}

.justify-content-center{
    border-radius: 0;
}

.card {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.carousel-item {
	padding: 1rem 5rem 5rem 5rem;
}

.carousel-control-prev{
	justify-content: inherit;
	background: none;
	color: #073247 !important;
	opacity: unset;
    width: 3%;
    margin-left: 3rem;
    font-size: 1.5rem;
}
.carousel-control-next{
	background: none;
	color: #073247 !important;
	opacity: unset;
    width: 3%;
    margin-right: 3rem;
    font-size: 1.5rem;
}

.card-top{
	margin-bottom: 20px;
}

.card-top img{
	width: 100%;
	height: 45vh;
}

.card .change{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #fff;
	color: #042332;
}

.front .card-body{
	text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.front .card-title {
	font-size: 1.9rem;
    font-weight: 800;
    letter-spacing: 0px;
    color: #073247;
}

.front .card-text {
    color: #073247;
}

.back .card{
	padding: 20px;
}

.back h3{
	font-weight: 600;
    font-size: 1.3rem;
    color: #073247;
    letter-spacing: 0px;
}

.back p{
	line-height: 1.2rem;
    font-size: 1.3rem;
    letter-spacing: 0px;
    color: #073247;
}

.card .system{
	font-style: italic;	
}

.card .description{
	text-align: justify;
}

.btn-mais-fotos{
    border-width: medium;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.4rem 0.9rem;
    color: white;
    background-color: #073247;
    border-color: #073247;
  }
  
  .btn-mais-fotos:hover{
    background-color: #031a26;
    border-color: #031a26;
    color: white;
  }

  .btn-orcamento{
    border-width: medium;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.4rem 0.9rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
  }

  .btn-orcamento:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
  }

  .row .card-2{
    margin: 3.4rem 0rem 0rem 0rem;
  }

  .carousel-icon .svg-inline--fa {
    color: #042332;
}

/*-- Media Queries --*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /*-- Navigation --*/

    .navbar .navbar-collapse .navbar-nav .nav-item .btn {
        font-weight: 500;
        font-size: 0.7rem;
        background-color: #A7BB39;
        border-color: #A7BB39;
        color: white;
        margin: 0px 0px 0px 5px;
    }

    #navbarResponsive{
        margin-right: 0rem;
    }

    .navbar-image{
        margin-left: 3rem;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: white;
        font-size: 0.8rem;
    }

    
    /*-- Solutions Section --*/

    .solution img{
        max-width: 190px;
    }

    /*-- Landing Page Section --*/

    .btn-secondary{
        padding: 0.4rem 0.5rem;
    }

    /*-- Footer Section --*/

    footer table th{
        font-size: 0.8rem;
    }

    /*-- O que fazemos section --*/
    #oquefazemos .row{
        margin-top: 1rem;
    }

    /*-- Nossos Projetos Section --*/
    .back h3{
        font-size: 1.1rem;
    }

    .front .card-title {
        font-size: 1.5rem;
    }

    .carousel-control-prev, .carousel-control-next{
        margin: 0rem 1.5rem;
    }

    .card-top img{
        width: 100%;
        height: 25vh;
    }

    #carousel-1{
        width:600px; /* or whatever width you want. */
        max-width:600px; /* or whatever width you want. */
        display: inline-block;
        height: 400px;
        max-height: 400px;
        border-radius: 15px;
        margin-bottom: 5rem;
        background-color: #F0F1F2;
        margin-top: -3rem;
     }

     .btn-orcamento{
        border-width: medium;
        border-radius: 0.4rem;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0px;
        padding: 0.4rem 1rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
      }

}

@media (max-width: 767px){
    /*-- Navigation Section --*/

    .navbar-brand img{
        width: 10rem;
    }

    .navbar-image{
        margin-left: 0px;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item .btn{
        font-weight: 500;
        font-size: 1.2rem;
        background-color: #A7BB39;
        border-color: #A7BB39;
        color: white;
        margin: 0px 0px 0px 0px;
    }

    #navbarResponsive{
        margin-right: 0rem;
    }

/*-- Landing Page Section --*/

    .caption h1{
        font-size: 1.5rem;
        font-weight: 800;
        padding-bottom: 1rem;
      }
      
      .caption h3{
        font-size: 1rem;
        padding-bottom: 1rem;
      }
      
      .btn-secondary{
        border-width: medium;
        border-radius: 0.4rem;
        font-size: 0.7rem;
        font-weight: 600;
        padding: 0.3rem 2.5rem;
        margin: 1rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
      }

/*-- Solutions Section --*/

    .solution img{
        max-width: 220px;
    }

    h3.heading{
        font-size: 2rem;
        letter-spacing: 0;
        font-weight: 900;
        color: #073145;
    }

/*-- Partners Section --*/

    .jumbotron{
       height: 75%;
       background: linear-gradient(180deg, white 50%, #073247 50%);
       padding: 2rem 0rem;
    }


    .partners img{
        width: 30%;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    blockquote{
        font-size: 0.9rem;
        font-weight: 500;
        color:#073145;  
    }

/*-- Footer Section --*/
    footer table th{
        font-size: 0.8rem;
    }

    footer img{
        width: 10rem;
    }

    footer p strong{
        color:white;
        font-size: 1.2rem;
    }

    footer .footer-p{
        color: white;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
    }

    footer svg.svg-inline--fa{
        font-size: 1.6rem;
        margin: 1.2rem 0.5rem 0 0;
    }

    footer .row .text-center svg.svg-inline--fa{
        font-size: 3rem;
    }
  
/*-- Quem Somos Section --*/

    .sobre .btn-secondary{
        border-width: medium;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.3rem 2rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
        margin: auto;
        margin-top: 1.5rem;
    }

    .equipe .btn-secondary{
        border-width: medium;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.3rem 2rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
        margin: auto;
        margin-top: 1.5rem;
    }

    .quemsomos .equipe img{
        border-radius: 50%;
        width: 200px;
        margin: 30px;
    }

    .quemsomos .text-center .heading{
        margin-bottom: 2rem;
    }

/*-- Orçamento Section --*/
    .titulo-orcamento h1{
        font-size: 1.5rem;
    }

    .titulo-orcamento h3{
        font-size: 1rem;
    }

    .email .container h5{
        font-size: 1.1rem;
    }

    .email .container a{
        font-size: 1rem;
    }

    .email .container .orcamento-hr{
        border-top: 0.1rem solid #073247;
        width: 30%;
    }

    /*-- O que fazemos Section --*/
    #oquefazemos .row h2{
        font-size: 1.4rem;
        margin-top: 0.5rem;
    }

    #oquefazemos .row{
        margin-top: 1rem;
    }

    /*-- Nossos Projetos Section --*/
        
    .carousel-item {
        padding: 3rem 0rem;
    }

    .carousel-control-next, .carousel-control-prev{
        display: table !important;
        margin: 0rem 3rem;
        font-size: 1.2rem;
    }

    .btn-mais-fotos{
        border-width: medium;
        border-radius: 0.4rem;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0.4rem 0.9rem;
        color: white;
        background-color: #073247;
        border-color: #073247;
      }
      
      .btn-orcamento{
        border-width: medium;
        border-radius: 0.4rem;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0.4rem 0.9rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
      }

      .card-top img{
        width: 100%;
        height: 40vh;
    }

    #carousel-1{
        width:300px; /* or whatever width you want. */
        max-width:300px; /* or whatever width you want. */
        display: inline-block;
        height: 400px;
        max-height: 400px;
        border-radius: 15px;
        margin-bottom: 5rem;
        background-color: #F0F1F2;
        margin-top: -3rem;
     }

     #carousel-1 img{
         max-width: 95%;
         max-height: 30vh;
     }

    .back h3{
        font-size: 0.9rem;
    }

    .back fa-2x{
        font-size: 1.5rem;
    }
}