@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif !important;
    background-image: url(img/bg.png);
    height: 100%;
}

.offset:before{
    display:block;
    content:"";
    height: 1rem;
    margin-top: -1rem;
}

/*-- Navigation --*/

.navbar{
    font-weight: 500;
    font-size: 1.1rem;
    background: rgba(0,0,0,0.6) !important;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color:white;
    
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color:#A7BB39;
}

.navbar .navbar-collapse .navbar-nav .nav-item .btn{
    font-weight: 500;
    font-size: 0.9rem;
    background-color: #A7BB39;
    border-color: #A7BB39;
    color: white;
    margin: 0px 0px 0px 10px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .btn:hover{
    font-weight: 500;
    font-size: 0.9rem;
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

.navbar-brand img{
    width: 13.75rem;
}

.navbar-image{
    margin-left: 7rem;
}

/*-- Landing Page --*/

.home-inner{
    background-image: url(img/headerHome.jpg);
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
}

.caption h1{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  
  .caption h3{
    font-size: 1.5rem;
    padding-bottom: 1.6rem;
  }
  
  .btn-secondary{
    border-width: medium;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.6rem 4rem;
    margin: 1rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
  }
  
  .btn-secondary:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
  }

/*-- Features Section --*/
#features{
    background-color: #073247;
    margin-top: 1rem;
}

.narrow{
    margin: auto;
    padding-bottom: 2rem;
  }

.feature h3{
    font-weight: 400 !important;
    letter-spacing: 0;
    color:white !important;
    font-size: 1.9rem !important;
}

.feature p{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color:white;
}

/*-- Solutions Section --*/

.justify-content-center{
    width: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.solutions{
    text-align: center;
    color: #073247;
    padding: 10px;
    width: 100%;
}

.solutions h1{
    font-weight: bold;  
    padding: 20px;
} 

.solution div:hover{
    background-color: #91b545;
    border-color: #91b545;
    color: #fff;
}

.solution div:hover img {
    position: relative;
    top: 10px;
}

.solution div:hover .btn {
    background-color: #fff;
    border-color: #fff;
    color:  #91b545;
}

.solution div {
    font-size: 13pt;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #fff; 
    height: 100%;
}

.solution h1{
    font-size: 18pt;
    font-weight: bold;
}

.solution img{
    max-width: 330px;
}

h3.heading{
    font-size: 2.7rem;
    letter-spacing: 0;
    font-weight: 900;
    color: #073145;
    padding: 2rem 0rem;
  }


/*-- Partners Section --*/

.jumbotron{
    height: 100%;
    background: linear-gradient(180deg, white 50%, #073247 50%);
}

.partner img{
    width: 20%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote .svg-inline--fa{
    color: #A7BB39;
    margin: 1rem;
}

blockquote{
    font-size: 1.2rem;
    font-weight: 500;
    color:#073145;
}

.partner div {
    font-size: 1.5rem;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #fff; 
    height: 100%;
}

.partner h1{
    font-size: 18pt;
    font-weight: bold;
}

.partner img{
    max-width: 330px;
}

/*-- Footer Section --*/

#footer{
    background-color: #042332;
    margin-top: -3rem;
}

footer img{
    width: 15rem;
}

footer p strong{
    color:white;
    font-size: 1.5rem;
}

table{
    color: white;
}

#partners{
    margin-top: -7rem;
}

footer .footer-p{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

footer a{
    color: white;
    font-size: 1.1rem;
}

footer a:hover{
    color: #A7BB39;
} 

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem 0.5rem 0 0;
  }
  
  footer svg.svg-inline--fa:hover{
    color: #A7BB39 !important;
  }

/*-- Media Queries --*/

/*-- Quem Somos Section */

.quemsomos .btn{
    border-radius: 25px;
    color: #042332;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 50px;
	margin: 30px;
	border: 2px solid #DBDBDB;
}

.quemsomos .active {
	background-color: #fff;
	border-color: #042332 !important;
}

.quemsomos .sobre{
    text-align: justify;
	font-size: 1.3em;
	margin: 20px;
    line-height: 2em;
}

.quemsomos .equipe img{
	border-radius: 50%;
	width: 220px;
	margin: 40px;
}

.quemsomos .equipe{
	text-align: justify;
	font-size: 1.1em;
	margin: 20px;
    line-height: 2em;
    font-weight: 400;
    padding-bottom: 3rem;
    color: #073268;
    letter-spacing: 0;
}

.quemsomos .equipe div{
	padding: 0px 20px;
}

.sobre .btn-secondary{
    border-width: medium;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 4rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
    margin: auto;
    margin-top: 3rem;
}

.sobre .btn-secondary:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

.equipe .btn-secondary{
    border-width: medium;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 4rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
    margin: auto;
    margin-top: 3rem;
}

.equipe .btn-secondary:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

/* Orçamento Section --*/
#orcamento{
    padding-top: 4rem;
    margin-bottom: 4rem;
}

#orcamento .container form .row div{
    margin: 0 auto !important;
    width: 100% !important;
}

.btn-orcamento{
    width: 100%;
    border-width: medium;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0.7rem 0rem;
    color: white;
    background-color: #A7BB39;
    border-color: #A7BB39;
}

.btn-orcamento:hover{
    background-color: #84932d;
    border-color: #84932d;
    color: white;
}

.form-control{
    background-color:#F0F1F2;
    border: none;
}

::placeholder{
    color: #0766AE;
    font-weight: 600;
    letter-spacing: 1px;
}

.email h5{
    color:#073247;
    font-weight: 500;
}

.email a{
    color:#073247;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.orcamento-hr{
    border-top: 0.1rem solid #073247;
}

/*-- O que fazemos Section --*/
.descricao{
    padding-bottom: 3rem;
}

#solutions{    
    height: 100%;
    background-image: url('img/bg.png')
}

#oquefazemos h2{
    color: #0B3347;
    font-weight: 600;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
}

#oquefazemos p{
    color: #0B3347;
    letter-spacing: 1px;
    font-weight: 600;
}

@media (max-width: 767px){
/*-- Navigation Section --*/

    .navbar-brand img{
        width: 10rem;
    }

    .navbar-image{
        margin-left: 0px;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item .btn{
        font-weight: 500;
        font-size: 1.2rem;
        background-color: #A7BB39;
        border-color: #A7BB39;
        color: white;
        margin: 0px 0px 0px 0px;
    }

/*-- Landing Page Section --*/

    .caption h1{
        font-size: 1.5rem;
        font-weight: 800;
        padding-bottom: 1rem;
      }
      
      .caption h3{
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      
      .btn-secondary{
        border-width: medium;
        border-radius: 0.4rem;
        font-size: 0.7rem;
        font-weight: 600;
        padding: 0.3rem 2.5rem;
        margin: 1rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
      }

/*-- Solutions Section --*/

    .solution img{
        max-width: 230px;
    }

    h3.heading{
        font-size: 2rem;
        letter-spacing: 0;
        font-weight: 900;
        color: #073145;
    }

/*-- Partners Section --*/

    .jumbotron{
       height: 75%;
       background: linear-gradient(180deg, white 50%, #073247 50%);
    }


    .partners img{
        width: 30%;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    blockquote{
        font-size: 0.9rem;
        font-weight: 500;
        color:#073145;  
    }

/*-- Footer Section --*/
    footer img{
        width: 10rem;
    }

    footer p strong{
        color:white;
        font-size: 1.2rem;
    }

    footer .footer-p{
        color: white;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
    }

    footer svg.svg-inline--fa{
        font-size: 1.6rem;
        margin: 1.2rem 0.5rem 0 0;
    }

    footer .row .text-center svg.svg-inline--fa{
        font-size: 3rem;
    }
  
/*-- Quem Somos Section --*/

    .sobre .btn-secondary{
        border-width: medium;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.3rem 2rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
        margin: auto;
        margin-top: 1.5rem;
    }

    .equipe .btn-secondary{
        border-width: medium;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.3rem 2rem;
        color: white;
        background-color: #A7BB39;
        border-color: #A7BB39;
        margin: auto;
        margin-top: 1.5rem;
    }

    .quemsomos .text-center .heading{
        margin-bottom: 2rem;
    }

/*-- Orçamento Section --*/
    .titulo-orcamento h1{
        font-size: 1.5rem;
    }

    .titulo-orcamento h3{
        font-size: 1rem;
    }

    .email .container h5{
        font-size: 1.1rem;
    }

    .email .container a{
        font-size: 1rem;
    }

    .email .container .orcamento-hr{
        border-top: 0.1rem solid #073247;
        width: 30%;
    }
}